.leaflet-control-attribution {
    display: none !important;
  }
.map-item-container {
    width: 100%;
    height: 400px;
  }
  @media (max-width: 768px) {
    .map-item-container {
      height: 250px;
    }
  }