/* Formulario principal */
.search-form {
  z-index: 9;
  padding: 15px;
  width: 75%;
}

/* Botón de búsqueda */
.search-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 100%;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.search-button:hover {
  background-color: var(--primary-color);
  text-shadow: #ccc 0 2px 10px;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

/* Ajustes responsive */
@media screen and (max-width: 1100px) {
  .search-form {
    padding: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .filter-row {
    flex-direction: column;
  }
}